.playlist-container{
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: #121212;
}

.playlist{
    margin: 24px;
}

.playlist #greeting{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .session{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.offer__scroll-container{
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar{
    width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.offer__list-item{
    display: grid;
    gap: 16px;
    grid-gap: 32px;
    margin: 0 auto;
}

.offer__list-item img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}

.cards{
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.cards span{
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.card1{
    background-color: rgb(0, 100, 80);
}

.card2{
    background-color: rgb(132, 0, 231);
}

.card3{
    background-color: rgb(30, 50, 100);
}

.card4{
    background-color: rgb(140, 25, 50);
}

.card5{
    background-color: rgb(232, 17, 91);
}

.card6{
    background-color: rgb(83, 122, 161);
}

.card7{
    background-color: rgb(142, 102, 172);
}

.card8{
    background-color: rgb(20, 138, 8);
}

.card9{
    background-color: rgb(30, 50, 100);
}

.card10{
    background-color: rgb(233, 20, 41);
}

.card11{
    background-color: rgb(80, 55, 80);
}

.card12{
    background-color: rgb(216, 64, 0);
}

.card13{
    background-color: rgb(186, 93, 7);
}

.card14{
    background-color: rgb(0, 30, 80);
}

.card15{
    background-color: rgb(60, 30, 80);
}